In [46]:
using JuliaDB
t = loadtable("stocksample", filenamecol = :Ticker, indexcols = [:Ticker, :Date])

Table with 56023 rows, 8 columns:
Columns:
#  colname  type
───────────────────
1  Ticker   String
2  Date     Date
3  Open     Float64
4  High     Float64
5  Low      Float64
6  Close    Float64
7  Volume   Int64
8  OpenInt  Int64

# `select`

`select(table, selection)`


#### There are many possible `selection`s:

1. `Integer`: column at position
1. `Symbol`: column by name
1. `Array`: itself
1. `Pair{Selection => Function}`: function mapped to selection
1. `Tuple` of selections: table of each selection

In [47]:
# select(stocks, 1)
# select(stocks, :Ticker)
# select(stocks, :Ticker => first)
select(t, (:Ticker => first, :Date, 1:length(stocks)))

Table with 56023 rows, 3 columns:
1    2           3
──────────────────────
'a'  1984-09-07  1
'a'  1984-09-10  2
'a'  1984-09-11  3
'a'  1984-09-12  4
'a'  1984-09-13  5
'a'  1984-09-14  6
'a'  1984-09-17  7
'a'  1984-09-18  8
'a'  1984-09-19  9
'a'  1984-09-20  10
'a'  1984-09-21  11
'a'  1984-09-24  12
⋮
't'  2017-10-27  56013
't'  2017-10-30  56014
't'  2017-10-31  56015
't'  2017-11-01  56016
't'  2017-11-02  56017
't'  2017-11-03  56018
't'  2017-11-06  56019
't'  2017-11-07  56020
't'  2017-11-08  56021
't'  2017-11-09  56022
't'  2017-11-10  56023

#### Note: Multiple selections are "passed around" as NamedTuples

In [48]:
select(t, (:High, :Low) => row -> row.High - row.Low)

56023-element Array{Float64,1}:
  0.01028
  0.0115
  0.01152
  0.01539
  0.00125
  0.01537
  0.00639
  0.02051
  0.01409
  0.00382
  0.02178
  0.00641
  0.0077
  ⋮
  7.03
  7.93
  6.53
 11.77
 12.349
 16.06
 11.12
  8.49
  6.47
  5.59
  8.16
  6.51

# `map`

`map(fun, table; select)`

In [72]:
map(first, t; select = :Ticker)

56023-element Array{Char,1}:
 'a'
 'a'
 'a'
 'a'
 'a'
 'a'
 'a'
 'a'
 'a'
 'a'
 'a'
 'a'
 'a'
 ⋮
 't'
 't'
 't'
 't'
 't'
 't'
 't'
 't'
 't'
 't'
 't'
 't'

In [73]:
ans == select(t, :Ticker => first)

true

In [63]:
map(r -> r.High - r.Close, t)

56023-element Array{Float64,1}:
  0.00514
  0.00382
  0.00766
  0.01539
  0.00125
  0.01023
  0.00639
  0.02051
  0.01409
  0.00382
  0.01664
  0.00641
  0.0077
  ⋮
  4.06
  3.72
  3.7
  0.42
 11.529
  9.43
  0.16
  4.72
  0.45
  2.58
  1.47
  5.37

# `filter`

`filter(fun, table; selection)`

In [78]:
filter(x -> first(x) == 'a', t; select = :Ticker)

Table with 13517 rows, 8 columns:
Columns:
#  colname  type
───────────────────
1  Ticker   String
2  Date     Date
3  Open     Float64
4  High     Float64
5  Low      Float64
6  Close    Float64
7  Volume   Int64
8  OpenInt  Int64

In [81]:
filter(x -> x == 'a', t; select = :Ticker => first)

Table with 13517 rows, 8 columns:
Columns:
#  colname  type
───────────────────
1  Ticker   String
2  Date     Date
3  Open     Float64
4  High     Float64
5  Low      Float64
6  Close    Float64
7  Volume   Int64
8  OpenInt  Int64

# AoS and SoA

`columns(t; selection)` and `rows(t; selection)`

In [82]:
columns(t)

(Ticker = String["aapl.us.txt", "aapl.us.txt", "aapl.us.txt", "aapl.us.txt", "aapl.us.txt", "aapl.us.txt", "aapl.us.txt", "aapl.us.txt", "aapl.us.txt", "aapl.us.txt"  …  "tsla.us.txt", "tsla.us.txt", "tsla.us.txt", "tsla.us.txt", "tsla.us.txt", "tsla.us.txt", "tsla.us.txt", "tsla.us.txt", "tsla.us.txt", "tsla.us.txt"], Date = Date[1984-09-07, 1984-09-10, 1984-09-11, 1984-09-12, 1984-09-13, 1984-09-14, 1984-09-17, 1984-09-18, 1984-09-19, 1984-09-20  …  2017-10-30, 2017-10-31, 2017-11-01, 2017-11-02, 2017-11-03, 2017-11-06, 2017-11-07, 2017-11-08, 2017-11-09, 2017-11-10], Open = [0.42388, 0.42388, 0.42516, 0.42902, 0.43927, 0.44052, 0.45718, 0.45718, 0.44052, 0.43286  …  319.18, 320.23, 332.25, 300.13, 299.5, 307.0, 301.02, 305.5, 302.5, 302.5], High = [0.42902, 0.42516, 0.43668, 0.43157, 0.44052, 0.45589, 0.46357, 0.46103, 0.44566, 0.43668  …  323.78, 331.95, 332.609, 308.69, 306.25, 307.5, 306.5, 306.89, 304.46, 308.36], Low = [0.41874, 0.41366, 0.42516, 0.41618, 0.43927, 0.44052, 0.45718, 0.44052, 0.43157, 0.43286  …  317.25, 320.18, 320.26, 292.63, 295.13, 299.01, 300.03, 301.3, 296.3, 301.85], Close = [0.42388, 0.42134, 0.42902, 0.41618, 0.43927, 0.44566, 0.45718, 0.44052, 0.43157, 0.43286  …  320.08, 331.53, 321.08, 299.26, 306.09, 302.78, 306.05, 304.31, 302.99, 302.99], Volume = [23220030, 18022532, 42498199, 37125801, 57822062, 68847968, 53755262, 27136886, 29641922, 18453585  …  4254378, 5672347, 8457336, 19791416, 8893974, 6482486, 5286320, 4725510, 5440335, 4621912], OpenInt = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [85]:
rows(t)

56023-element IndexedTables.Columns{NamedTuples._NT_Ticker_Date_Open_High_Low_Close_Volume_OpenInt{String,Date,Float64,Float64,Float64,Float64,Int64,Int64},NamedTuples._NT_Ticker_Date_Open_High_Low_Close_Volume_OpenInt{Array{String,1},Array{Date,1},Array{Float64,1},Array{Float64,1},Array{Float64,1},Array{Float64,1},Array{Int64,1},Array{Int64,1}}}:
 (Ticker = "aapl.us.txt", Date = 1984-09-07, Open = 0.42388, High = 0.42902, Low = 0.41874, Close = 0.42388, Volume = 23220030, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-10, Open = 0.42388, High = 0.42516, Low = 0.41366, Close = 0.42134, Volume = 18022532, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-11, Open = 0.42516, High = 0.43668, Low = 0.42516, Close = 0.42902, Volume = 42498199, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-12, Open = 0.42902, High = 0.43157, Low = 0.41618, Close = 0.41618, Volume = 37125801, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-13, Open = 0.43927, High = 0.44052, Low = 0.43927, Close = 0.43927, Volume = 57822062, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-14, Open = 0.44052, High = 0.45589, Low = 0.44052, Close = 0.44566, Volume = 68847968, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-17, Open = 0.45718, High = 0.46357, Low = 0.45718, Close = 0.45718, Volume = 53755262, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-18, Open = 0.45718, High = 0.46103, Low = 0.44052, Close = 0.44052, Volume = 27136886, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-19, Open = 0.44052, High = 0.44566, Low = 0.43157, Close = 0.43157, Volume = 29641922, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-20, Open = 0.43286, High = 0.43668, Low = 0.43286, Close = 0.43286, Volume = 18453585, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-21, Open = 0.43286, High = 0.44566, Low = 0.42388, Close = 0.42902, Volume = 27842780, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-24, Open = 0.42902, High = 0.43157, Low = 0.42516, Close = 0.42516, Volume = 22033109, OpenInt = 0)
 (Ticker = "aapl.us.txt", Date = 1984-09-25, Open = 0.42388, High = 0.42388, Low = 0.41618, Close = 0.41618, Volume = 46515020, OpenInt = 0)
 ⋮
 (Ticker = "tsla.us.txt", Date = 2017-10-26, Open = 327.78, High = 330.23, Low = 323.2, Close = 326.17, Volume = 5012087, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-10-27, Open = 319.75, High = 324.59, Low = 316.66, Close = 320.87, Volume = 6970118, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-10-30, Open = 319.18, High = 323.78, Low = 317.25, Close = 320.08, Volume = 4254378, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-10-31, Open = 320.23, High = 331.95, Low = 320.18, Close = 331.53, Volume = 5672347, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-11-01, Open = 332.25, High = 332.609, Low = 320.26, Close = 321.08, Volume = 8457336, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-11-02, Open = 300.13, High = 308.69, Low = 292.63, Close = 299.26, Volume = 19791416, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-11-03, Open = 299.5, High = 306.25, Low = 295.13, Close = 306.09, Volume = 8893974, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-11-06, Open = 307.0, High = 307.5, Low = 299.01, Close = 302.78, Volume = 6482486, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-11-07, Open = 301.02, High = 306.5, Low = 300.03, Close = 306.05, Volume = 5286320, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-11-08, Open = 305.5, High = 306.89, Low = 301.3, Close = 304.31, Volume = 4725510, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-11-09, Open = 302.5, High = 304.46, Low = 296.3, Close = 302.99, Volume = 5440335, OpenInt = 0)
 (Ticker = "tsla.us.txt", Date = 2017-11-10, Open = 302.5, High = 308.36, Low = 301.85, Close = 302.99, Volume = 4621912, OpenInt = 0)

# `reduce`

`reduce(reducer, table; selection)`

# `groupreduce`

`groupreduce(reducer, table, by; selection)`

# `groupby`

`groupby(fun, table [, by]; selection, flatten)`

# `summarize`

`summarize(f, t, by = pkeynames(t); select = excludecols(t, by))`