# Methods for `NDSparse`

In [4]:
using JuliaDB
nd = loadndsparse("stocksample", filenamecol = :Ticker, indexcols = [:Ticker, :Date])

2-d NDSparse with 56023 values (6 field named tuples):
    Dimensions
#  colname  type
────────────────
1  Ticker   Any
2  Date     Any
    Values
#  colname  type
───────────────────
3  Open     Float64
4  High     Float64
5  Low      Float64
6  Close    Float64
7  Volume   Int64
8  OpenInt  Int64

In [7]:
nd["aapl.us.txt", Date(1986, 2, 10)]

(Open = 0.38289, High = 0.39186, Low = 0.37906, Close = 0.38164, Volume = 31191161, OpenInt = 0)

# `selectkeys` and `selectvalues`

In [27]:
selectvalues(nd, :Close)

2-d NDSparse with 56023 values (Float64):
Ticker         Date       │
──────────────────────────┼────────
"aapl.us.txt"  1984-09-07 │ 0.42388
"aapl.us.txt"  1984-09-10 │ 0.42134
"aapl.us.txt"  1984-09-11 │ 0.42902
"aapl.us.txt"  1984-09-12 │ 0.41618
"aapl.us.txt"  1984-09-13 │ 0.43927
"aapl.us.txt"  1984-09-14 │ 0.44566
"aapl.us.txt"  1984-09-17 │ 0.45718
"aapl.us.txt"  1984-09-18 │ 0.44052
"aapl.us.txt"  1984-09-19 │ 0.43157
"aapl.us.txt"  1984-09-20 │ 0.43286
"aapl.us.txt"  1984-09-21 │ 0.42902
"aapl.us.txt"  1984-09-24 │ 0.42516
                          ⋮
"tsla.us.txt"  2017-10-27 │ 320.87
"tsla.us.txt"  2017-10-30 │ 320.08
"tsla.us.txt"  2017-10-31 │ 331.53
"tsla.us.txt"  2017-11-01 │ 321.08
"tsla.us.txt"  2017-11-02 │ 299.26
"tsla.us.txt"  2017-11-03 │ 306.09
"tsla.us.txt"  2017-11-06 │ 302.78
"tsla.us.txt"  2017-11-07 │ 306.05
"tsla.us.txt"  2017-11-08 │ 304.31
"tsla.us.txt"  2017-11-09 │ 302.99
"tsla.us.txt"  2017-11-10 │ 302.99

# `map`

`map(fun, nds; select)`

In [55]:
map(r -> r.High - r.Low, nd; select = (:High, :Low))

2-d NDSparse with 56023 values (Float64):
Ticker         Date       │
──────────────────────────┼────────
"aapl.us.txt"  1984-09-07 │ 0.01028
"aapl.us.txt"  1984-09-10 │ 0.0115
"aapl.us.txt"  1984-09-11 │ 0.01152
"aapl.us.txt"  1984-09-12 │ 0.01539
"aapl.us.txt"  1984-09-13 │ 0.00125
"aapl.us.txt"  1984-09-14 │ 0.01537
"aapl.us.txt"  1984-09-17 │ 0.00639
"aapl.us.txt"  1984-09-18 │ 0.02051
"aapl.us.txt"  1984-09-19 │ 0.01409
"aapl.us.txt"  1984-09-20 │ 0.00382
"aapl.us.txt"  1984-09-21 │ 0.02178
"aapl.us.txt"  1984-09-24 │ 0.00641
                          ⋮
"tsla.us.txt"  2017-10-27 │ 7.93
"tsla.us.txt"  2017-10-30 │ 6.53
"tsla.us.txt"  2017-10-31 │ 11.77
"tsla.us.txt"  2017-11-01 │ 12.349
"tsla.us.txt"  2017-11-02 │ 16.06
"tsla.us.txt"  2017-11-03 │ 11.12
"tsla.us.txt"  2017-11-06 │ 8.49
"tsla.us.txt"  2017-11-07 │ 6.47
"tsla.us.txt"  2017-11-08 │ 5.59
"tsla.us.txt"  2017-11-09 │ 8.16
"tsla.us.txt"  2017-11-10 │ 6.51

# `filter`

In [29]:
filter(r -> r.Open < r.Close, nd)

2-d NDSparse with 26302 values (6 field named tuples):
    Dimensions
#  colname  type
────────────────
1  Ticker   Any
2  Date     Any
    Values
#  colname  type
───────────────────
3  Open     Float64
4  High     Float64
5  Low      Float64
6  Close    Float64
7  Volume   Int64
8  OpenInt  Int64

# `reduce` and `groupreduce`

In [56]:
groupreduce(+, nd, :Ticker; select = :Volume)

1-d NDSparse with 8 values (Int64):
Ticker         │
───────────────┼─────────────
"aapl.us.txt"  │ 891950579821
"amzn.us.txt"  │ 40385735209
"dis.us.txt"   │ 85815802336
"googl.us.txt" │ 26503128932
"ibm.us.txt"   │ 81302723803
"msft.us.txt"  │ 634313240042
"nflx.us.txt"  │ 62518969374
"tsla.us.txt"  │ 8205871633

# `groupby`

In [60]:
groupby(extrema, nd, :Ticker; select = :Close)

1-d NDSparse with 8 values (2-tuples):
Ticker         │ 2        3
───────────────┼─────────────────
"aapl.us.txt"  │ 0.23051  175.61
"amzn.us.txt"  │ 1.4      1132.88
"dis.us.txt"   │ 0.28298  118.24
"googl.us.txt" │ 50.005   1058.29
"ibm.us.txt"   │ 3.3901   186.36
"msft.us.txt"  │ 0.0672   84.56
"nflx.us.txt"  │ 1.29     202.68
"tsla.us.txt"  │ 15.8     385.0

# `summarize`

In [61]:
summarize((mean, std), nd, :Ticker; select = (:Open, :Close))

1-d NDSparse with 8 values (4 field named tuples):
Ticker         │ Open_mean  Close_mean  Open_std  Close_std
───────────────┼───────────────────────────────────────────
"aapl.us.txt"  │ 22.2844    22.281      37.7634   37.7645
"amzn.us.txt"  │ 181.747    181.769     239.611   239.548
"dis.us.txt"   │ 20.6162    20.6212     26.4788   26.4787
"googl.us.txt" │ 389.993    389.856     235.105   235.102
"ibm.us.txt"   │ 48.5355    48.5542     49.271    49.2977
"msft.us.txt"  │ 18.9779    18.9847     16.4161   16.424
"nflx.us.txt"  │ 39.5034    39.5213     47.5678   47.5733
"tsla.us.txt"  │ 150.39     150.355     107.072   107.024

# `columns` and `rows`

- Same as for `Table`